<div class="component">
  <h1 style="font-family: roboto, sans-serif;">Funcionários FNS</h1>
  <button class="button1" routerLink="create">Criar</button>
  <button class="button2" routerLink="read">Visualizar Cadastrados </button>
<router-outlet></router-outlet>
<style>
  .button1 {
  background-color: rgb(8, 137, 31);
  color: rgb(255, 255, 255);
  border: 2px solid #c73e3e;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
}
.button1:hover {
  background-color: #52da42;
  cursor: pointer;
}

.button2 {
  background-color: rgb(170, 12, 12);
  color: rgb(213, 213, 213);
  border: 2px solid #4c3ec7;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
}
.button2:hover {
  background-color: #4f1717;
  cursor: pointer;
}</style>
</div>

